.footer {
    .footersection3 {
        padding-top: 5rem;
        background: $backcol;
        text-align: center;
        .content {
            h1{
                font-size: 3.125rem;
                line-height: 6.25rem;
                max-width: 100%;
                color: $red;
                @media (max-width:670px) {
                    font-size: 2.125rem;
                }
            }
            p{
                font-size: 1.125rem;
                line-height: 2.1875rem;
                max-width: 65%;
                color: $white;
                margin: 0 auto;
                @media (max-width:670px) {
                    font-size: 1.125rem;
                }
            }
        }
    }
}