@import './variables';

.footer {
    .footerbar {
        padding-left: 3rem;
        padding-top: 5rem;
        background: $backcol;
        text-align: center;
        @media (max-width:767px) {
                    text-align: start;
        align-items: start;
        }

        .left {
            .content {
                img {
                    max-width: 90%;
                }

                p {
                    font-size: 1rem;
                    max-width: 90%;
                    line-height: 2.03125rem;
                    color: $white;
                }
            }

            .image {
                display: flex;
                flex-direction: row;

                img {
                    max-width: 30%;
                }
            }
        }
        .midd {
            a{
            text-decoration: none;
            }
            h1 {
                font-size: 1.125rem;
                line-height: 1.704375rem;
                color: $red;
            }
            p {
                font-size: 1rem;
                line-height: 1.420625rem;
                color: $white;
            }
        }
        .right {
            a {
                text-decoration: none;
                }
            h1 {
                font-size: 1.125rem;
                line-height: 1.704375rem;
                color: $red;
            }
            p {
                font-size: 1rem;
                line-height: 1.420625rem;
                color: $white;
            }
        }
    }
}