$backcol : black;
$backcol2 : linear-gradient(180deg, #EA4924 83.69%, rgba(234, 73, 36, 0) 202.27%);
$backcol3: linear-gradient(360deg, #D53F1C 94.22%, rgba(213, 63, 28, 0) 151.41%);
$red : #EA4924;
$white : #FFFFFF;
